
    // ---Variables of main colors---

    $primary: #ff9126;
    $secondary: #ffda32;
    $primarysoft: #ff9654;
    $primarydark: #f76627;
    $secondarysoft: #fff2b0;
    $secondarydark: #febb25;
    
    $white: white;
    $black: black;
    $grey: #F0F0F0;
    $greydark: #E8E8E8;

    @font-face {
        font-family: 'Nunito';
        src: url('../assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    }

    @font-face {
        font-family: 'NunitoItalic';
        src: url('../assets/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    }