
    // ---Variables of main colors---

    $primary: #FA6639;
    $secondary: #FAB746;
    $primarysoft: #ff9474;
    $secondarysoft: #ffd07e;
    
    $white: white;
    $black: black;
    $grey: #F0F0F0;
    $greydark: #E8E8E8;

    @font-face {
        font-family: 'Nunito';
        src: url('../assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
    }

    @font-face {
        font-family: 'NunitoItalic';
        src: url('../assets/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
    }